body{
    background-image: url(../assets/bg.png);
     max-width: 120rem;
  
}
header{
    max-width: 100rem;
    margin: 0 auto;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.marquee{
    max-width: 102rem;
    height: 3rem;
    font-size: 1.25rem;
    color:rgb(251, 164, 14);
    
}
.underline{
    margin-top: 4px;
    border-bottom: 2px solid rgb(251, 164, 14);
    display: none;
}

/* shared styles */
.dark1{
    color:rgb(17, 17, 17) ;
}
.dark2{
    color: rgb(32, 32, 32);
}
.dark3{
    color: rgb(0, 0, 0);
}
.dark4{
    color: rgb(128, 128, 128);
}
.dark5{
    color: rgb(255, 255, 255);
}
 .hover:hover{
    background-color: rgb(249, 156, 156);
}

/* nav styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.nav1{
    display: flex;
    align-items: center;
    gap: 11px;
    justify-items: center;
}
.nav-img{
    max-width:3.8rem ;
    height: 3.8rem;
    margin: 0 auto;
}
.title{
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 0;
}
    .nav2{
        margin: 0 186px;
    
    }
.nav2 ul{
    display: flex;
    gap: 2.25rem ;
    list-style: none;
}
.nav2 ul a{
    text-decoration: none;
}
#li-1 , #li-2 , #li-3 , #li-4 {
  font-size: 1.25rem;
  font-weight: 500;
}
#li-1 a{
    color: rgb(254, 163, 1);
}
#li-2 a{
    color:rgb(1, 172, 253) ;
}
#li-3 a{
    color: rgb(5, 212, 223);
}
#li-4 a{
    color: rgb(93, 88, 239);
}
.button{
    background-color:rgb(254, 163, 1);
    border-radius: 12px;
    width: 12.3rem;
    height: 3.1rem;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
.hamburger{
    display: none;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 8px;
    
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
 
   
   
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    max-width: 36rem;
    max-height: 11.4rem;
    margin-top: 100px;
}
.t1{
   color:rgb(254, 163, 1) ; 
}
.t2{
    color: rgb(1, 172, 253);
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 40rem;
    max-height: 3.1rem;
    margin-top: 10px;
}
.banner-btn{
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    font-size:1.25rem ;
    font-weight:700 ;
    width: 12.3rem;
    height: 3.1rem;
}
.banner-img{
    max-width: 35rem;
    max-height: 40rem;
    margin-right: 30px;
    margin-top: 100px;
}

/* main part */
.section-1{
    max-width: 120rem;
    border-top: 2px dashed rgb(128, 128, 128);
    
}
.section1-title{

}


/* media query part */
@media screen and (max-width:576px) {
    .navbar{
        flex-direction: row;
        padding: 0 10px;
        
    }
   .button , .nav2 , .title{
        display: none;
    }
   .hamburger{
  display: block;
   }
   .banner{
    flex-direction: column-reverse;
    
   }
   .banner-title{
    max-width:100%;
    max-height:50%;
    margin: 0 auto;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
    
   }
   .banner-description{
    max-width:100% ;
    max-height:50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
   }
   .banner-btn{
    margin-top: 15px;
    margin-left: 90px;
    
    
   }
.banner-img{
    max-width: 100%;
    margin: 0 auto;
}
   .underline{
    display: block;
   }
   .section-1{
    display: none;
   }
 
}